
// HEADER

header {
    background-position: center;
    background-size: cover;
    height: 100vh;

        &.headerIndex {
            background-image: url(../assets/header-image.jpg);
        }
        &.headerContact {
            background-image: url(../assets/right-image.jpg);
        }
    
}

// NAVBAR

nav {
    display: flex;
    height: 12%;
    align-items: center;

    .flexItems {
        flex-grow: 1;
    }

    .menuFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            margin-left: 174px;
        }
        
        li{
           margin: 0px auto;
        }
    }

    .logo {
        display: flex;
    }
}

header 

// INDEX HEADER

    .tagLine {
    height: 100%;
    width: 20%;
    padding: 10% 0;
    }

    .imgHeader {
        width: 50%;
        margin-left: auto;
        position: relative;
        top: -560px;
        right: -73px;
    }
    


