header {
    background-position: center;
    background-size: cover;
    height: 100vh;
        .headerIndex {
            background-image: url(/Users/tylerwyles/Desktop/sites/juno/Assignments:Projects/Project01/project-1/assets/header-image.jpg);
        }
        .headerContact {
            background-image: url();
        }
    
}