// INDEX - Under The Sea

section.underTheSea {
    height: 90vh;
    background-color: #FAE5FF;

    .underSeaContainer {
        height: 100%;
    }

    .underSea {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        width: 60%;

        h2, p, a {
            margin-bottom: 20px;
        }

        p {
            line-height: 25px;
        }

        a {
            width: 25%;
            margin: 0 auto;
        }
    }

}

// INDEX - SECTION - New Addition

.newAdditions {
    height: 60vh;

    .additionFlex {
        height: 100%;
        display: flex;

        .additionImg{
            position: relative;
            top: -41px;
            left: -102px;
                img {           
                box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
                -webkit-box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
                -moz-box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
            } 
        }
    }

    .additionContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2, p, a {
            margin-bottom: 20px;
        }

        p {
            line-height: 25px;
        }

        a {
            width: 123px;
            margin: 0 90% 0 auto;
        }
    }

}

// INDEX - SECTION - Too Many Options

.manyOptions {
    height: 44vh;

    .optionFlex {
        height: 100%;
        display: flex;

        .optionImg{
            position: relative;
            top: -20px;
            right: -104px;
                img {           
                    box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
                    -webkit-box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
                    -moz-box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
                    } 
                }
            }

    .optionContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2, p, a {
            text-align: right;
            margin-bottom: 20px;
        }

        p {
            line-height: 25px;
        }

        a {
            width: 123px;
            margin: 0 0 0 auto;
        }
    }

}

// INDEX - LINKS

section.links {
    height: 65vh;
    background-color: #FAE5FF;

    .linksContainer {
        height: 100%;

        ul {
            height: 100%;
            list-style: none;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 90px;

            li {
                width: 50%;
                padding: 25px 25px 0 0;
            }
        }
    }

}

// INDEX - SHOE BANNER

.shoesBanner {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/banner.jpg);
}

// INDEX - POPULAR THIS MONTH

.sectionPopular {
    height: 60vh;
}

.popularFlex {
    display: flex;
    height: 100%;
    padding: 75px 0;

    .popularImgContainer {

    img {
        box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
        -webkit-box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
        -moz-box-shadow: 32px 30px 0px 5px rgba(254,111,25,1);
        }
    }   

    .popularContainer {
        width: 63%;
        margin-left: 10%;

        h2, p, a {
            margin-bottom: 20px;
        }
    }
}

// INDEX - GALLERY

.indexGallery {
    height: 65vh;
    background-color: #FAE5FF;

    .galleryFlex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        // padding: 5% 0;
        width: calc((100% / 3) - 20px);

        img {
            margin: 0  10px;
        }
    }

    
}


// CONTACT.HTML

// CONTACT FORM

.contactSection{
    height: 77vh;
}
.getInTouch {
    // height: 100vh;

        .contactForm {
        background-color: white;
        width: 60%;
        height: 60%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -180px;
    
        box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
        -webkit-box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
        -moz-box-shadow: -32px 30px 0px 5px rgba(254,111,25,1);
    
        
      }

      .formFlex {
        display: flex;
        width: 85%;
        margin-top: 40px;
      }
      
      input {
        width: 90%;
        border: none;
        border-bottom: 2px solid #FE6F19;
        padding: 12px 0 9px 24px;

        
      }
      
      label {
        font-weight: bold;
        display: none;
      }

      .formFieldMessage {
        width: 85%;
      }

      textarea {
        border: 2px solid #FE6F19;
        width: 100%;
      }
      
      div {
        margin-bottom: 40px;
      }
      
      button {
        background: #882C07;
        color: white;
        padding: 5px;
        width: 85%;
        margin: 0 auto 40px auto;
        border: none;
        text-transform: uppercase;
      }

}

// CONTACT - ASIDE

.getInTouch {
    aside {
        margin-right: auto;
        width: 35%;
        position: relative;
        bottom: 332px;
        line-height: 40px;
    }
}