// HEADER

h1 {
    font-family: 'Pompiere', cursive;
    font-size: 8rem;
    line-height: 92px;

    &.h1Index {
      font-size: 11rem;
      line-height: 64px;
    }
  }

.logo {
  font-family: 'Pompiere', cursive;
  font-size: 3.58rem;
  letter-spacing: 1.1px;
}

.menuFlex {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;

    a {
      text-decoration: none;
      color:black;
    }

    .homeButton {
      color: white;
      background-color: #4C0341;
      padding: 3px 14px;
      text-decoration: none;
    }

    .blogButton {
      color: white;
      background-color: #4C0341;
      padding: 3px 14px;
      text-decoration: none;
    }

    .contactButton {
      color: white;
      background-color: #4C0341;
      padding: 3px 14px;
      text-decoration: none;
    }
}

// INDEX - What is under the sea Section

.underSea{

  h2 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: 1.2px;
    color: #4C0341;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    color: white;
    background-color: #4C0341;
    padding: 5px 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// INDEX - New Additions

  .additionContainer {
    h2 {
        font-family: 'Pompiere', cursive;
        font-size: 4.2rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;

      } 
    
    a {
      color: white;
      background-color: #882C07;
      padding: 8px 14px;
      text-decoration: none;
      text-transform: uppercase;
      }
  }
  
  // INDEX - Too Many Options


  .manyOptions {
    h2 {
        font-family: 'Pompiere', cursive;
        font-size: 4.2rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;

      } 
    
    a {
      color: white;
      background-color: #882C07;
      padding: 8px 14px;
      text-decoration: none;
      text-transform: uppercase;
      }
  }

  // INDEX - Links

    .linksContainer {
      h3 {
        font-family: 'Pompiere', cursive;
        font-size: 5.2rem;
        letter-spacing: 1.6px;
        text-transform: uppercase;
      }

      p {
        line-height: 25px;
      }

  
    }
