@use './variables' as *;


// HEADER

h1 {
    font-family: 'Pompiere', cursive;
    font-size: 8rem;
    line-height: 92px;

    &.h1Index {
      font-size: 11rem;
      line-height: 64px;
      color: $plum;
    }

    &.h1Blog, &.h1Contact {
      font-size: 8rem;
      line-height: 92px;
      text-transform: uppercase;
      color: $plum;

    }

  
  }

.logo {
  font-family: 'Pompiere', cursive;
  font-size: 3.58rem;
  letter-spacing: 1.1px;
}

.menuFlex {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;

    a {
      text-decoration: none;
      color:black;
    }

    .homeButton {
      color: $white;
      background-color: $plum;
      padding: 3px 14px;
      text-decoration: none;
    }

    .blogButton {
      color: $white;
      background-color: $plum;
      padding: 3px 14px;
      text-decoration: none;
    }

    .contactButton {
      color: $white;
      background-color: $plum;
      padding: 3px 14px;
      text-decoration: none;
    }
}

// INDEX - What is under the sea Section

.underSea{

  h2 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: 1.2px;
    color: $plum;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    color: $white;
    background-color: $plum;
    padding: 5px 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// INDEX - New Additions

  .additionContainer {
    h2 {
        font-family: 'Pompiere', cursive;
        font-size: 4.2rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;

      } 
    
    a {
      color: $white;
      background-color: $brownRed;
      padding: 8px 14px;
      text-decoration: none;
      text-transform: uppercase;
      }
  }
  
  // INDEX - Too Many Options


  .manyOptions {
    h2 {
        font-family: 'Pompiere', cursive;
        font-size: 4.2rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;

      } 
    
    a {
      color: $white;
      background-color: $brownRed;
      padding: 8px 14px;
      text-decoration: none;
      text-transform: uppercase;
      }
  }

  // INDEX - Links

    .linksContainer {
      h3 {
        font-family: 'Pompiere', cursive;
        font-size: 5.2rem;
        letter-spacing: 1.6px;
        text-transform: uppercase;
      }

      p {
        line-height: 25px;
      }

  
    }

    // INDEX - Popular this month

    .popularContainer {
      h2 {
        font-family: 'Pompiere', cursive;
        font-size: 5.2rem;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }

      p {
        line-height: 25px;
      }

      a {
        color: $white;
        background-color: $brownRed;
        padding: 8px 14px;
        text-decoration: none;
        text-transform: uppercase; 
      }
    }

    // FOOTER

    .footer p {
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      line-height: 32px;
      color: $white;
    }

    // ******************************************************************

    // BLOG - Aside

    .sidebarFlex {
      
      h3 {
        font-family: 'Pompiere', cursive;
        font-size: 3rem;
        letter-spacing: 1.3px;
        color: $plum;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      li {
        list-style: disc;

      }
    }

    // BLOG - Shoes around the world

    .aroundTheWorldContainer {

      padding: 20px;
      
      // h2, h3, p {
      //   // width: 95%;
        
      // }

      h2 {
        font-family: 'Pompiere', cursive;
        font-size: 5.2rem;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        padding: 20px 0 10px 0;
        color: $plum;
      }

      p {
        line-height: 25px;
      }
    }



    // BLOG - Comments

    .comments {
      height: 100vh;
    }



  // ******************************

  // CONTACT

  // ******************************

  // Section - Aside

  .contactSection {
    height: 100vh;
    background-color: $paleMauve;

      email {
        font-family: 'Pompiere', cursive;
        font-size: 3rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: $plum;
      }

      p {
        line-height: 25px;
      }
    
  }
  
// Comment section

.commentsContainer {
  h2 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    // padding: 20px 0 10px 0;
    color: $plum;
  }

  p {
    line-height: 25px;
  }
}

// Contact Form

.blogForm {
  input, textarea {
    background-color: $paleMauve;
  }

}


